@font-face {
    font-family: 'MesloLGS NF Regular';
    src: url('../fonts/MesloLGS NF Regular.ttf') format('truetype');
}

.asciinema-terminal {
        font-family: 'MesloLGS NF Regular', Consolas, Menlo, 'Bitstream Vera Sans Mono', monospace, 'Powerline Symbols';
}